<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix Atom Crasher" %></h1>
  <p>There are currently <%= @atom_count %> atoms and the limit is <%= @atom_limit %></p>
</section>

<section class="row">
  <%= form_for @changeset, Routes.page_path(@conn, :create_atoms), fn f -> %>
  <label>
    Number to create: <%= number_input f, :count %>
  </label>
  <%= submit "Create the atoms" %>
<% end %>
</section>
